.navigationItem
    text-align: center
    margin: 2px 0 2px 0
    @media (max-width: 499px)
        width: 95%
    &__active
        border: none
    a
        text-decoration: none
        padding: 14px 26px
        display: block
        color: black
        border-radius: 4px
        &:hover
            color: red