.commitItem
    margin: 10px 5px
    background-color: white
    &--odd
        background-color: #e4f6ff
    &__propertyList
        padding: 0
        &__item
            padding-bottom: 5px
            &--odd
                background-color: #c3d9fa

