.RepoItem
    background: white
    padding: 10px
    &--odd
        background: #e3f1ef
    &__list
        padding: 0
        &__listItem
            padding-bottom: 5px
            &--odd
                background: #c3faf1
